*{
    padding:0;
    margin:0;
}
body{
    background-color:lightgreen;
    box-sizing:border-box;
}
.container{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.content{
    width:80%;
    height:500px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
h1{
    text-align:center;
    font-size:40px;
}
.secondary{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    padding-right:20px;
}
#scoreset{
    width:200px;
    display:flex;
    align-items:center;
    font-family:cursive;
    font-size:30px;
    justify-content:center;
}
#scoreset p{
    font-family:cursive;
    font-size:40px;
}
#scoreDisplay{
    font-size:40px;
}
#popup{
    background-color:#65e8b6;
    width:150px;
    height:60px;
    text-align:center;
    border:2px solid rgb(70, 69, 69);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:35px 20px 10px 10px;
    margin-bottom:70px;
    border-radius:20px;
}
#popup button{
    width:90px;
    height:45px;
    font-family:cursive;
    border-radius:20px;
    border:2px solid rgb(70, 69, 69);
    background-color:aquamarine;
    cursor:pointer;
    font-size:13px;
    transition:500ms;
}
#popup button:hover{
    background:#ffaabb;
    font-family:Arial;
    transition:500ms;
}
#time{
    width:200px;
    display:flex;
    align-items:center;
    font-family:cursive;
    font-size:30px;
    justify-content:center;
}
#time p{
    font-family:cursive;
    font-size:30px;
}
#board{
    display:grid;
    width:600px;
    height:450px;
    border:2px solid black;
    margin:0 auto;
    flex-wrap:wrap;
}

.button button{
    width:80px;
    height:30px;
    font-family:cursive;
    text-align:center;
    border:2px solid rgb(70, 69, 69);
    border-radius:10px;
    cursor:pointer;
    background-color:aquamarine;
    transition:500ms;
}
.button button:hover{
    background:#ffabac;
    font-family:Arial;
    transition:500ms;
}
.button .up{
    margin-left:190px;
} 
.button .down{
    margin-left:190px;
}
.button .btn{
    display:flex;
}
.button .btn .left{
    margin-left:150px;
}
.button .btn .right{
    margin-left:2px;
}

#game-over{
    display:none;
    position:absolute; 
    top:50%; 
    left:50%;  
    transform:translate(-50%, -50%);
    font-size:60px;
}